.buttonHover {
    background-color: #1765ad;
    transition: 0.3s;
}
.buttonHover:hover {
    background-color: #15395b;
}

.ant-layout-sider {
    width: "10vw" !important;
    min-width: "5vw" !important;
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-20%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.pageTransition {
    animation-duration: 0.3s;
    animation-timing-function: ease-out;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-name: slideInFromLeft;
}

@keyframes slideInFromTop {
    0% {
        transform: translateY(50%);
        opacity: 1;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.pageSwitch {
    animation-duration: 0.38s;
    animation-timing-function: ease-out;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-name: slideInFromTop;
}

.card-design {
    border-color: #1890ff !important;
    border-radius: 5px !important;
    transition: 0.35s !important;
}

.card-design:hover {
    opacity: 0.5;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
    background-color: #1f1f1f;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: #8c8c8c;
}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, .3);
    background-color: #8c8c8c;
}

.create_challenge_form h1 {
    font-size: 120%;
}

.loadingStyle {
    display: "flex" !important;
    width: "100%" !important;
    justify-content: "center";
    justify-items: "center";
    position: absolute;
}

.ant-table {
    background:rgba(0, 0, 0, 0.5) !important;
}