@keyframes buttonHover {
    from {
        background-color: #1765ad;
    }
    to {
        background-color: #112a45;
    }
}

.buttonHover:hover {
    animation-name: buttonHover;
    animation-duration: 0.35s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

.card-design {
    border-color: #1890ff !important;
    border-radius: 5px !important;
    transition-duration: 0.38s !important;
}

.card-design:hover {
    opacity: 0.6;
}

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
	background-color: #1f1f1f;
}

::-webkit-scrollbar
{
	width: 10px;
	background-color: #8c8c8c;
}

::-webkit-scrollbar-thumb
{
	-webkit-box-shadow: inset 0 0 3px rgba(0,0,0,.3);
	background-color: #8c8c8c;
}

.create_challenge_form h1 {
    font-size: 120%;
}

pre {
    color: #d89614;
    text-align: start;
    background-color: #434343;
    border-style: solid;
    border-radius: 7px;
    border-width: 0px;
    padding: 10px;
    font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
}

code {
    color: #d89614;
}